In [5]:
# Dependencies
import pandas as pd
# import random
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import sem

In [23]:
# Sample versus population example fuel economy
fuel_economy = pd.read_csv('../Resources/2019_fuel_economy.csv')

# First overview the data set - how many factors, etc.
fuel_economy.head(n=2)

          Type  Combined_MPG     Make_Model
0  Two Seaters       21.0000      Acura_NSX
1  Two Seaters       27.9406  ALFA ROMEO_4C

In [30]:
# set random state to any value
random_state_seed = 12

# use a dictionary to remember SEM values calculated and the raw data used
subsets = {}

# create 10 samples
for idx in range(10):
    # create sample explicitly specifing the random state
    subset = fuel_economy.sample(30, random_state=random_state_seed)
    # increment the random state so the next sample will pick different examples
    random_state_seed += 1
    
    SEM = sem(subset.Combined_MPG)
    subsets[idx] = {'sem': SEM, 'raw_data': subset}
    print(f"Subset {idx} has a SEM value for the sample fuel economy data of {SEM}")

Subset 0 has a SEM value for the sample fuel economy data of 1.0840148835634007
Subset 1 has a SEM value for the sample fuel economy data of 0.8893926728415377
Subset 2 has a SEM value for the sample fuel economy data of 1.2976175115443944
Subset 3 has a SEM value for the sample fuel economy data of 0.9821441752392169
Subset 4 has a SEM value for the sample fuel economy data of 1.106442281022422
Subset 5 has a SEM value for the sample fuel economy data of 1.2168866152056512
Subset 6 has a SEM value for the sample fuel economy data of 1.4326147166879453
Subset 7 has a SEM value for the sample fuel economy data of 0.5704987479155236
Subset 8 has a SEM value for the sample fuel economy data of 1.1572264339368934
Subset 9 has a SEM value for the sample fuel economy data of 1.1890405832708713

In [31]:
subsets[0]

{'sem': 1.0840148835634007,
 'raw_data':                                       Type  Combined_MPG  \
 1156                      Standard SUV 4WD       20.1579
 720                 Midsize Station Wagons       20.7786
 700                   Small Station Wagons       43.1750
 194                        Subcompact Cars       22.7648
 246                        Subcompact Cars       14.6832
 1014                         Small SUV 4WD       26.9629
 878    Special Purpose Vehicle cab chassis       16.0000
 1235                      Standard SUV 4WD       28.4359
 891   Special Purpose Vehicle, minivan 2WD       22.3531
 1081                         Small SUV 4WD       18.4658
 592                             Large Cars       21.7599
 866            Special Purpose Vehicle 2WD       25.6715
 725                 Midsize Station Wagons       23.2733
 713                   Small Station Wagons       30.7968
 509                           Midsize Cars       26.4147
 1146                      Standard SUV 4WD       21.1032
 1188                      Standard SUV 4WD       13.3061
 59                             Two Seaters       20.7520
 914                          Small SUV 2WD       24.5154
 856                   Vans, Passenger Type       15.4530
 172                        Subcompact Cars       20.3517
 1180                      Standard SUV 4WD       16.8656
 847            Standard Pick-up Trucks 4WD       18.7854
 14                             Two Seaters       16.8163
 739               Small Pick-up Trucks 2WD       21.5263
 204                        Subcompact Cars       21.0000
 1166                      Standard SUV 4WD       16.6887
 941                          Small SUV 2WD       26.1675
 534                           Midsize Cars       24.1592
 248                        Subcompact Cars       28.7418

                                         Make_Model
 1156                             Buick_ENCLAVE AWD
 720                       Jaguar_XF Sportbrake AWD
 700            KIA MOTORS CORPORATION_Niro Touring
 194                       Ford_MUSTANG CONVERTIBLE
 246   Roush Industries, Inc._Roush Stage 3 Mustang
 1014                                Honda_CR-V AWD
 878        Chevrolet_C10 SILVERADO 2WD CAB CHASSIS
 1235                  TOYOTA_HIGHLANDER HYBRID AWD
 891                              Honda_ODYSSEY FWD
 1081       Mercedes-Benz_AMG GLC 63 4MATIC (coupe)
 592                                   Cadillac_XTS
 866             Ford_Transit Connect Wagon LWB FWD
 725                              NISSAN_MURANO FWD
 713                     Volkswagen_Golf SportWagen
 509                                   MAZDA_MAZDA6
 1146                                       Audi_Q7
 1188             Jeep_Grand Cherokee Trackhawk 4x4
 59                            NISSAN_370Z Roadster
 914                                  Ford_EDGE FWD
 856                        Ford_Transit T150 Wagon
 172                   BMW_M850i xDrive Convertible
 1180                           GMC_K1500 YUKON 4WD
 847                                   RAM_1500 4X4
 14           Ferrari North America, Inc._488 Pista
 739                            Honda_RIDGELINE FWD
 204                     INFINITI_Q60 AWD RED SPORT
 1166                             Dodge_Durango AWD
 941                               Jeep_Compass 4X2
 534            Mini_JOHN COOPER WORKS CLUBMAN ALL4
 248                  Volkswagen_Beetle Convertible  }